body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(286.41deg, #033958 3.63%, #0f6b78 90.98%);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.header {
  color: white;
  font-size: 48px;
  margin-bottom: 80px;
}

.img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullsize_img {
  margin-top: 48px;
}

.upload {
  min-width: 960px;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload_form {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.upload_text {
  color: white;
  text-align: center;
}

.upload_input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.upload_input-label {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 224, 255, 0.11)), to(rgba(0, 224, 255, 0.0539)));
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
  border-radius: 9px;
  height: 60px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.upload_input-label p {
  margin-left: 15px;
}

.upload_input-label :hover {
  cursor: pointer;
}

.upload_button {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13cdc2));
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  -webkit-box-shadow: 0px 7px 20px -7px #00e0ff;
          box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 9px;
  border: none;
  font-weight: 750;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: white;
  height: 60px;
}

.upload_button :hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */